{%extends "user/base.html"%}

{%block content%}

<div>
    <h1>profile page</h1>
</div>

<div>
    <li>{{ profile.avatar}}</li>
    <img src="{{profile.avatar}}" alt="profile.pic">
    <li>
    <ul> username : {{profile.user.username}}</ul>
    <ul> displayname : {{profile.displayname}}</ul>
    <ul> description : {{profile.info}}</ul>
    </li>
</div>
{% if user.username == profile.user.username%}
    <a href="{%url 'update' user.profile.pk %}"> Update Profile</a>
{%endif%}
    <a href="{%url 'home'  %}"> Home</a>

{% if user.username != profile.user.username%}
    <a href="{%url 'start_private_chat' slug=profile.user.username %}"> Message {{profile.user.username}}</a>
{%endif%}
{%endblock%}