{%extends "user/base.html" %}

{%block content%}
<h1>{{object}}</h1>
<div>
    <a href="{%url 'chats'%}">All chats</a>
</div>
<div id="online_count" >
    Online users: <span id="user_count">0</span>
</div>
<div id="chatlog">
    {%if sent_chats %}

        {%for message in sent_chats.reverse%}
            <ul>{{message.author}} : {{message.chat_message}}</ul>
        {%endfor%}

    {%else%}
        <ul>No message yet</ul>

    {%endif%}
    
    </div>
            <form action="" method="post" id="myForm">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit">Send</button>
            </form>
    <div>

        <div id="response"></div>
</div>
{%endblock%}

{%block scripts%}
{{object.pk|json_script:"room-name"}}
<script>
    // Connect to WebSocket
    const roomName=JSON.parse(document.getElementById('room-name').textContent)
    console.log(roomName)
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    const form = document.getElementById('myForm');
    responseDiv=document.getElementById('response')

    // Form submission event
    form.addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent traditional form submission

        // Gather form data
        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries()); // Convert to an object

        // Send form data as JSON over WebSocket
        chatSocket.send(JSON.stringify(data));
        
    });

    // Handle messages from the server
    chatSocket.onmessage = function(event) {    //handles sent data
        const data = JSON.parse(event.data);        //parses data from backend
        if (data.action==="send_message") {             //finds the message div and inserts the new message
            document.querySelector('#chatlog').innerHTML += '<ul>'+ data.user +':'+ data.message +'</ul>';
        }
        //handles user online
        
        else if(data.action=="online_user_update"){
            if (data.online_count!==undefined)
                document.querySelector('#user_count').innerText = data.online_count;
           // else data.online_count=0
        }
        
        else {
            console.log(data.errors)
        }
              

        
    };
</script>
{%endblock%}